<a href="https://colab.research.google.com/github/npasuparthi/nagendra-AI_ML/blob/master/R7_Lab_questions_NNDL_Nagendra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://drive.google.com/uc?export=view&id=1tpOCamr9aWz817atPnyXus8w5gJ3mIts" width=500px>

## Lab on NNDL Part 1: Tensorflow Basic

### Tensors

Tensors are multi-dimensional arrays with a uniform type

##Question 1

### Create a rank-0 tensor
- A "scalar" is called "rank-0" tensor
- the tensor should contain value 99.99

In [2]:
import tensorflow as tf

In [10]:
rank_0 = tf.constant(99.99)
rank_0

### Create a rank-1 tensor

- A "vector" (list) is called "rank-1" tensor [9,8,7,6,5]
- A vector has one axis

In [12]:
rank_1 = tf.constant([9,8,7,6,5])
rank_1

### Add 7 to all the elements of the above created tensor
- Use Broadcasting

In [17]:
print(tf.add(rank_1, [7]))
print(rank_1 + 7)

tf.Tensor([16 15 14 13 12], shape=(5,), dtype=int32)
tf.Tensor([16 15 14 13 12], shape=(5,), dtype=int32)

### Create a rank-2 tensor
[[1, 2, 3], [ 4,5,6]]
- A "matrix"  "is called rank-2" tensor
- It has 2 axes

In [19]:
rank_2 = tf.constant([[1,2,3],[4,5,6]])
rank_2

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[1, 2, 3],
       [4, 5, 6]], dtype=int32)>

### Change the shape of the above created tensor to shape (3,2)

In [22]:
tf.reshape(rank_2, [3,2])

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[1, 2],
       [3, 4],
       [5, 6]], dtype=int32)>

In [23]:
tf.reshape(rank_2, [-1,2])

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[1, 2],
       [3, 4],
       [5, 6]], dtype=int32)>

### Check the dtype, number of axes and the shape of tensor

In [31]:
print(rank_2.dtype)
print(rank_2.ndim)
print(rank_2.shape)

<dtype: 'int32'>
2
(2, 3)

- Tensors can have more axes, like rank-3 or rank-4 tensor

##Lab on NNDL Part 2: Cars selling price prediction

### Data Set -
Domain: Finance, Business 
Data: https://www.kaggle.com/nehalbirla/vehicle-dataset-from-cardekho?select=Car+details+v3.csv

The data contains various features of used cars.

#### Features

1. year

2. selling_price: Price at which it was sold (**Target Feature**)

3. km_driven

4. fuel

5. seller_type

6. transmission

7. Owner

8. mileage

9. engine

10. max_power

11. seats

 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

##Objective

Predict the selling price of used cars based on the given features

## Steps to perform:

#### 1. Import important Libraries
#### 2. Import Dataset and exploration
#### 3. Data Pre-processing
#### 4. Training a Neural Network Model
#### 5. Evaluating the model
#### 6. Conclusion


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

### Import important libraries

In [187]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## Question 1

### Load the data
- Load the data, check the shape of data

In [188]:
df = pd.read_csv('/content/car_data-1.csv')

In [189]:
df.head()

   year  selling_price  km_driven  ...   engine   max_power seats
0  2014         450000     145500  ...  1248 CC      74 bhp   5.0
1  2014         370000     120000  ...  1498 CC  103.52 bhp   5.0
2  2006         158000     140000  ...  1497 CC      78 bhp   5.0
3  2010         225000     127000  ...  1396 CC      90 bhp   5.0
4  2007         130000     120000  ...  1298 CC    88.2 bhp   5.0

[5 rows x 11 columns]

In [190]:
df.shape

(8128, 11)

## Question 2

### Preprocess the data
- Convert mileage, engine and max_power to numerical by extract numerical values from the strings
- Label Encode: 'owner' column
- One Hot Encode: 'fuel','seller_type','transmission' columns
- Drop all the instances with null values

In [191]:
def map_num(num):
    try:
        if type(num) == str:
            return float(num.split()[0])
        else:
            return num
    except:
        return np.nan

In [192]:
df[['mileage','engine','max_power']] = df[['mileage','engine','max_power']].applymap(map_num)

In [193]:
df.head()

   year  selling_price  km_driven    fuel  ... mileage  engine max_power  seats
0  2014         450000     145500  Diesel  ...   23.40  1248.0     74.00    5.0
1  2014         370000     120000  Diesel  ...   21.14  1498.0    103.52    5.0
2  2006         158000     140000  Petrol  ...   17.70  1497.0     78.00    5.0
3  2010         225000     127000  Diesel  ...   23.00  1396.0     90.00    5.0
4  2007         130000     120000  Petrol  ...   16.10  1298.0     88.20    5.0

[5 rows x 11 columns]

In [194]:
o = {'First Owner':1, 'Second Owner':2, 'Third Owner':3,
       'Fourth & Above Owner':4, 'Test Drive Car':5}
df['owner'] = df['owner'].map(o)
df.head()

   year  selling_price  km_driven    fuel  ... mileage  engine  max_power  seats
0  2014         450000     145500  Diesel  ...   23.40  1248.0      74.00    5.0
1  2014         370000     120000  Diesel  ...   21.14  1498.0     103.52    5.0
2  2006         158000     140000  Petrol  ...   17.70  1497.0      78.00    5.0
3  2010         225000     127000  Diesel  ...   23.00  1396.0      90.00    5.0
4  2007         130000     120000  Petrol  ...   16.10  1298.0      88.20    5.0

[5 rows x 11 columns]

In [195]:
from  sklearn.preprocessing import OneHotEncoder
ohe= OneHotEncoder(sparse=False, dtype=np.int64)
cat_col = ['fuel', 'seller_type', 'transmission']
z=ohe.fit_transform(df[cat_col])
encoded_data = pd.DataFrame(z,columns=ohe.get_feature_names(cat_col))
encoded_data.head()

   fuel_CNG  fuel_Diesel  ...  transmission_Automatic  transmission_Manual
0         0            1  ...                       0                    1
1         0            1  ...                       0                    1
2         0            0  ...                       0                    1
3         0            1  ...                       0                    1
4         0            0  ...                       0                    1

[5 rows x 9 columns]

In [196]:
df1=df.drop(columns=cat_col, axis=1)
final_df = pd.concat([df1, encoded_data], axis=1)
final_df.head()

   year  selling_price  ...  transmission_Automatic  transmission_Manual
0  2014         450000  ...                       0                    1
1  2014         370000  ...                       0                    1
2  2006         158000  ...                       0                    1
3  2010         225000  ...                       0                    1
4  2007         130000  ...                       0                    1

[5 rows x 17 columns]

In [197]:
final_df.dropna(inplace=True)

## Question 3

### Split the data and then scale the data
- Split the data into ratio of 75:25 with random state=12
- Perform standard scaling on X_train and X_test data

In [198]:
X = final_df.drop('selling_price', axis=1)
y = final_df['selling_price']

In [199]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=12)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((5929, 16), (1977, 16), (5929,), (1977,))

In [200]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_sc = sc.fit_transform(x_train)
x_test_Sc = sc.transform(x_test)

## Question 4

### Create a Deep Neural Network Model for Regression
- Initialize a Sequential model
- Add 3 hidden layer with activation relu (Number of neurons = 64,128,32 respectively)
- Add dropout layer after each hidden layer
- Add a Dense layer with one neuron as output, use activation linear

In [201]:
tf.keras.backend.clear_session()
model = tf.keras.models.Sequential()

from tensorflow.keras.layers import Flatten, Dense, Input, BatchNormalization

model=tf.keras.Sequential()
model.add(tf.keras.Input(shape=(16)))
model.add(tf.keras.layers.BatchNormalization())

In [202]:
from tensorflow.keras.layers import Flatten, Dense, Input, BatchNormalization
from keras.utils.vis_utils import plot_model

### Check model summary and visualize the model

In [203]:
#Hidden layers
model.add(tf.keras.layers.Dense(64, activation='relu', name='Layer_1'))
model.add(tf.keras.layers.BatchNormalization())
#Dropout layer
model.add(tf.keras.layers.Dropout(0.15))


model.add(tf.keras.layers.Dense(128, activation='relu', name='Layer_2'))
model.add(tf.keras.layers.BatchNormalization())
#Dropout layer
model.add(tf.keras.layers.Dropout(0.10))

#Hidden layers
model.add(tf.keras.layers.Dense(32, activation='relu', name='Layer_3'))
model.add(tf.keras.layers.BatchNormalization())
#Dropout layer
model.add(tf.keras.layers.Dropout(0.05))


#Output layer
model.add(tf.keras.layers.Dense(1, activation='linear', name='Output'))

In [204]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization (BatchNo (None, 16)                64
_________________________________________________________________
Layer_1 (Dense)              (None, 64)                1088
_________________________________________________________________
batch_normalization_1 (Batch (None, 64)                256
_________________________________________________________________
dropout (Dropout)            (None, 64)                0
_________________________________________________________________
Layer_2 (Dense)              (None, 128)               8320
_________________________________________________________________
batch_normalization_2 (Batch (None, 128)               512
_________________________________________________________________
dropout_1 (Dropout)          (None, 128)               0
_________________________________________________________________
Layer_3 (Dense)              (None, 32)                4128
_________________________________________________________________
batch_normalization_3 (Batch (None, 32)                128
_________________________________________________________________
dropout_2 (Dropout)          (None, 32)                0
_________________________________________________________________
Output (Dense)               (None, 1)                 33
=================================================================
Total params: 14,529
Trainable params: 14,049
Non-trainable params: 480
_________________________________________________________________

## Question 5

### Compile the model

- Compile the model
- Use "adam" optimizer
- for calculating loss, use mean absolute error
- use R2 score (coefficient of determination) as the metric

In [205]:
from keras import backend as K
def r_2_Score(y_true, y_pred):
  SS_resid = K.sum(K.square(y_true-y_pred))
  SS_total = K.sum(K.square(y_true-K.mean(y_true)))
  return (1-SS_resid/(SS_total+ K.epsilon()))

In [206]:
opt = tf.keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer=opt, loss='mean_absolute_error', metrics=[r_2_Score])

In [207]:
callback=tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True, mode='min')

Other metrics can also be used to track the learning of the model:

To learn different metrics for classification and regression visit the following link:

Link: https://keras.io/api/metrics/#usage-with-compile-amp-fit

### Train your model

- epochs: 1000
- batch size: 32
- Use test data as validation data
- Also add callback, such that if validation loss doesn't decreases consecutively 10 times, stop the training and return the weights for the previous best model

In [208]:
#Train the model
history = model.fit(x_train_sc,y_train,
          validation_data=(x_test_Sc,y_test),
          epochs=100,
          batch_size=32,
          verbose=1)

Epoch 1/100
186/186 [==============================] - 2s 5ms/step - loss: 638857.0137 - r_2_Score: -1.1929 - val_loss: 654007.5000 - val_r_2_Score: -1.0343
Epoch 2/100
186/186 [==============================] - 1s 5ms/step - loss: 648082.0287 - r_2_Score: -1.1187 - val_loss: 653164.4375 - val_r_2_Score: -1.0314
Epoch 3/100
186/186 [==============================] - 1s 5ms/step - loss: 647349.6166 - r_2_Score: -1.1156 - val_loss: 651727.0625 - val_r_2_Score: -1.0261
Epoch 4/100
186/186 [==============================] - 1s 5ms/step - loss: 633943.5328 - r_2_Score: -1.1537 - val_loss: 649752.8125 - val_r_2_Score: -1.0191
Epoch 5/100
186/186 [==============================] - 1s 5ms/step - loss: 652438.2136 - r_2_Score: -1.0351 - val_loss: 647247.0000 - val_r_2_Score: -1.0101
Epoch 6/100
186/186 [==============================] - 1s 5ms/step - loss: 623191.0662 - r_2_Score: -1.3727 - val_loss: 644215.8125 - val_r_2_Score: -0.9995
Epoch 7/100
186/186 [==============================] - 1s 4ms/step - loss: 639846.1430 - r_2_Score: -1.1730 - val_loss: 641000.4375 - val_r_2_Score: -0.9882
Epoch 8/100
186/186 [==============================] - 1s 5ms/step - loss: 635940.2323 - r_2_Score: -1.1031 - val_loss: 637270.5000 - val_r_2_Score: -0.9751
Epoch 9/100
186/186 [==============================] - 1s 5ms/step - loss: 657254.5201 - r_2_Score: -1.0629 - val_loss: 632902.3750 - val_r_2_Score: -0.9602
Epoch 10/100
186/186 [==============================] - 1s 5ms/step - loss: 615872.1180 - r_2_Score: -1.2543 - val_loss: 628454.6250 - val_r_2_Score: -0.9448
Epoch 11/100
186/186 [==============================] - 1s 4ms/step - loss: 597335.8722 - r_2_Score: -1.3037 - val_loss: 623491.6250 - val_r_2_Score: -0.9278
Epoch 12/100
186/186 [==============================] - 1s 5ms/step - loss: 608132.0368 - r_2_Score: -1.0515 - val_loss: 618317.4375 - val_r_2_Score: -0.9100
Epoch 13/100
186/186 [==============================] - 1s 4ms/step - loss: 599985.6688 - r_2_Score: -1.1432 - val_loss: 612728.2500 - val_r_2_Score: -0.8908
Epoch 14/100
186/186 [==============================] - 1s 5ms/step - loss: 605457.1390 - r_2_Score: -1.0673 - val_loss: 606173.2500 - val_r_2_Score: -0.8685
Epoch 15/100
186/186 [==============================] - 1s 5ms/step - loss: 597856.8670 - r_2_Score: -0.9353 - val_loss: 598052.6250 - val_r_2_Score: -0.8418
Epoch 16/100
186/186 [==============================] - 1s 5ms/step - loss: 588680.5291 - r_2_Score: -0.9215 - val_loss: 591520.6875 - val_r_2_Score: -0.8200
Epoch 17/100
186/186 [==============================] - 1s 5ms/step - loss: 554576.2919 - r_2_Score: -1.0297 - val_loss: 587217.3750 - val_r_2_Score: -0.8008
Epoch 18/100
186/186 [==============================] - 1s 5ms/step - loss: 574895.0030 - r_2_Score: -1.0048 - val_loss: 580819.5625 - val_r_2_Score: -0.7794
Epoch 19/100
186/186 [==============================] - 1s 4ms/step - loss: 577378.9500 - r_2_Score: -0.9002 - val_loss: 574885.3125 - val_r_2_Score: -0.7788
Epoch 20/100
186/186 [==============================] - 1s 5ms/step - loss: 571308.4599 - r_2_Score: -0.8836 - val_loss: 568433.1875 - val_r_2_Score: -0.8011
Epoch 21/100
186/186 [==============================] - 1s 4ms/step - loss: 553196.9392 - r_2_Score: -0.9201 - val_loss: 588809.8125 - val_r_2_Score: -3.1092
Epoch 22/100
186/186 [==============================] - 1s 5ms/step - loss: 531670.5612 - r_2_Score: -0.8453 - val_loss: 547164.6875 - val_r_2_Score: -0.6718
Epoch 23/100
186/186 [==============================] - 1s 4ms/step - loss: 551301.6594 - r_2_Score: -0.7945 - val_loss: 542134.3125 - val_r_2_Score: -0.6520
Epoch 24/100
186/186 [==============================] - 1s 4ms/step - loss: 537357.7336 - r_2_Score: -0.7400 - val_loss: 555318.0000 - val_r_2_Score: -3.5929
Epoch 25/100
186/186 [==============================] - 1s 5ms/step - loss: 508601.0057 - r_2_Score: -0.7183 - val_loss: 520335.4062 - val_r_2_Score: -0.5862
Epoch 26/100
186/186 [==============================] - 1s 5ms/step - loss: 521816.8046 - r_2_Score: -0.6689 - val_loss: 516882.0000 - val_r_2_Score: -0.5623
Epoch 27/100
186/186 [==============================] - 1s 5ms/step - loss: 496004.5901 - r_2_Score: -0.6384 - val_loss: 508762.3125 - val_r_2_Score: -0.6315
Epoch 28/100
186/186 [==============================] - 1s 5ms/step - loss: 519137.7904 - r_2_Score: -0.5594 - val_loss: 501726.5938 - val_r_2_Score: -0.5939
Epoch 29/100
186/186 [==============================] - 1s 5ms/step - loss: 486515.6141 - r_2_Score: -0.5710 - val_loss: 479796.4375 - val_r_2_Score: -0.4572
Epoch 30/100
186/186 [==============================] - 1s 5ms/step - loss: 481984.2017 - r_2_Score: -0.5025 - val_loss: 479455.7812 - val_r_2_Score: -0.4386
Epoch 31/100
186/186 [==============================] - 1s 5ms/step - loss: 471103.4332 - r_2_Score: -0.5198 - val_loss: 479851.2188 - val_r_2_Score: -0.7951
Epoch 32/100
186/186 [==============================] - 1s 5ms/step - loss: 451879.5832 - r_2_Score: -0.4848 - val_loss: 471922.5938 - val_r_2_Score: -0.7019
Epoch 33/100
186/186 [==============================] - 1s 5ms/step - loss: 455828.6917 - r_2_Score: -0.4085 - val_loss: 479983.2500 - val_r_2_Score: -5.0452
Epoch 34/100
186/186 [==============================] - 1s 5ms/step - loss: 460439.6927 - r_2_Score: -0.3758 - val_loss: 445305.7188 - val_r_2_Score: -0.3175
Epoch 35/100
186/186 [==============================] - 1s 5ms/step - loss: 438097.6791 - r_2_Score: -0.3283 - val_loss: 424921.4062 - val_r_2_Score: -0.4261
Epoch 36/100
186/186 [==============================] - 1s 5ms/step - loss: 437115.6823 - r_2_Score: -0.3045 - val_loss: 413883.7188 - val_r_2_Score: -0.2603
Epoch 37/100
186/186 [==============================] - 1s 5ms/step - loss: 411414.8793 - r_2_Score: -0.2725 - val_loss: 400682.5938 - val_r_2_Score: -0.2033
Epoch 38/100
186/186 [==============================] - 1s 4ms/step - loss: 392778.8262 - r_2_Score: -0.2223 - val_loss: 394430.1875 - val_r_2_Score: -0.1761
Epoch 39/100
186/186 [==============================] - 1s 5ms/step - loss: 386138.2878 - r_2_Score: -0.1692 - val_loss: 380154.3750 - val_r_2_Score: -0.1409
Epoch 40/100
186/186 [==============================] - 1s 5ms/step - loss: 358983.2238 - r_2_Score: -0.1575 - val_loss: 405272.1250 - val_r_2_Score: -1.8430
Epoch 41/100
186/186 [==============================] - 1s 5ms/step - loss: 353836.9555 - r_2_Score: -0.1114 - val_loss: 367190.9062 - val_r_2_Score: -0.0816
Epoch 42/100
186/186 [==============================] - 1s 5ms/step - loss: 350353.6357 - r_2_Score: -0.0735 - val_loss: 342058.6562 - val_r_2_Score: -0.0274
Epoch 43/100
186/186 [==============================] - 1s 5ms/step - loss: 361993.7823 - r_2_Score: -0.0545 - val_loss: 348022.5000 - val_r_2_Score: -0.0281
Epoch 44/100
186/186 [==============================] - 1s 5ms/step - loss: 335692.1419 - r_2_Score: -0.0014 - val_loss: 342986.7500 - val_r_2_Score: 0.0082
Epoch 45/100
186/186 [==============================] - 1s 5ms/step - loss: 346487.5757 - r_2_Score: 0.0257 - val_loss: 327109.6250 - val_r_2_Score: 0.0417
Epoch 46/100
186/186 [==============================] - 1s 5ms/step - loss: 311396.6369 - r_2_Score: 0.0699 - val_loss: 321443.1562 - val_r_2_Score: 0.0683
Epoch 47/100
186/186 [==============================] - 1s 5ms/step - loss: 318333.4873 - r_2_Score: 0.0975 - val_loss: 300201.9688 - val_r_2_Score: 0.1199
Epoch 48/100
186/186 [==============================] - 1s 5ms/step - loss: 291528.5500 - r_2_Score: 0.1431 - val_loss: 289249.3438 - val_r_2_Score: 0.1519
Epoch 49/100
186/186 [==============================] - 1s 4ms/step - loss: 286443.1606 - r_2_Score: 0.1847 - val_loss: 295453.7500 - val_r_2_Score: 0.1671
Epoch 50/100
186/186 [==============================] - 1s 5ms/step - loss: 289209.1646 - r_2_Score: 0.1947 - val_loss: 287468.9375 - val_r_2_Score: 0.1944
Epoch 51/100
186/186 [==============================] - 1s 4ms/step - loss: 278293.1644 - r_2_Score: 0.2251 - val_loss: 269381.4375 - val_r_2_Score: 0.2362
Epoch 52/100
186/186 [==============================] - 1s 5ms/step - loss: 286845.6730 - r_2_Score: 0.2314 - val_loss: 268059.5312 - val_r_2_Score: 0.2526
Epoch 53/100
186/186 [==============================] - 1s 5ms/step - loss: 272004.2108 - r_2_Score: 0.2791 - val_loss: 266784.9375 - val_r_2_Score: 0.2623
Epoch 54/100
186/186 [==============================] - 1s 5ms/step - loss: 258888.4858 - r_2_Score: 0.3050 - val_loss: 258666.7031 - val_r_2_Score: 0.2991
Epoch 55/100
186/186 [==============================] - 1s 5ms/step - loss: 260378.8270 - r_2_Score: 0.3066 - val_loss: 256847.3438 - val_r_2_Score: 0.3103
Epoch 56/100
186/186 [==============================] - 1s 5ms/step - loss: 252836.2963 - r_2_Score: 0.3414 - val_loss: 244374.1875 - val_r_2_Score: 0.3609
Epoch 57/100
186/186 [==============================] - 1s 5ms/step - loss: 243566.7578 - r_2_Score: 0.3725 - val_loss: 243192.6562 - val_r_2_Score: 0.3781
Epoch 58/100
186/186 [==============================] - 1s 5ms/step - loss: 255433.2741 - r_2_Score: 0.3764 - val_loss: 248679.0156 - val_r_2_Score: 0.3761
Epoch 59/100
186/186 [==============================] - 1s 5ms/step - loss: 249690.5559 - r_2_Score: 0.3975 - val_loss: 237880.0156 - val_r_2_Score: 0.4054
Epoch 60/100
186/186 [==============================] - 1s 5ms/step - loss: 249491.8463 - r_2_Score: 0.4228 - val_loss: 234744.2656 - val_r_2_Score: 0.4201
Epoch 61/100
186/186 [==============================] - 1s 5ms/step - loss: 235288.8946 - r_2_Score: 0.4336 - val_loss: 234404.6094 - val_r_2_Score: 0.4391
Epoch 62/100
186/186 [==============================] - 1s 5ms/step - loss: 220116.6865 - r_2_Score: 0.4869 - val_loss: 230075.0000 - val_r_2_Score: 0.4354
Epoch 63/100
186/186 [==============================] - 1s 5ms/step - loss: 223064.1054 - r_2_Score: 0.4693 - val_loss: 226675.3594 - val_r_2_Score: 0.4685
Epoch 64/100
186/186 [==============================] - 1s 5ms/step - loss: 235711.0287 - r_2_Score: 0.4870 - val_loss: 223934.5312 - val_r_2_Score: 0.4876
Epoch 65/100
186/186 [==============================] - 1s 5ms/step - loss: 234359.5723 - r_2_Score: 0.4899 - val_loss: 214815.2344 - val_r_2_Score: 0.5176
Epoch 66/100
186/186 [==============================] - 1s 5ms/step - loss: 226283.8268 - r_2_Score: 0.5105 - val_loss: 213626.5312 - val_r_2_Score: 0.5243
Epoch 67/100
186/186 [==============================] - 1s 5ms/step - loss: 238617.0651 - r_2_Score: 0.4843 - val_loss: 212942.0469 - val_r_2_Score: 0.5310
Epoch 68/100
186/186 [==============================] - 1s 5ms/step - loss: 216650.4570 - r_2_Score: 0.5292 - val_loss: 212324.3906 - val_r_2_Score: 0.5313
Epoch 69/100
186/186 [==============================] - 1s 5ms/step - loss: 217970.6353 - r_2_Score: 0.5439 - val_loss: 208870.5938 - val_r_2_Score: 0.5604
Epoch 70/100
186/186 [==============================] - 1s 5ms/step - loss: 225546.4298 - r_2_Score: 0.5225 - val_loss: 204584.8750 - val_r_2_Score: 0.5726
Epoch 71/100
186/186 [==============================] - 1s 5ms/step - loss: 201704.7515 - r_2_Score: 0.5820 - val_loss: 202237.3438 - val_r_2_Score: 0.5839
Epoch 72/100
186/186 [==============================] - 1s 5ms/step - loss: 213115.7294 - r_2_Score: 0.5501 - val_loss: 204744.6562 - val_r_2_Score: 0.5812
Epoch 73/100
186/186 [==============================] - 1s 5ms/step - loss: 213437.0307 - r_2_Score: 0.5499 - val_loss: 200526.4688 - val_r_2_Score: 0.6047
Epoch 74/100
186/186 [==============================] - 1s 5ms/step - loss: 215392.2263 - r_2_Score: 0.5593 - val_loss: 195520.5156 - val_r_2_Score: 0.6175
Epoch 75/100
186/186 [==============================] - 1s 5ms/step - loss: 207376.3246 - r_2_Score: 0.5666 - val_loss: 195783.3750 - val_r_2_Score: 0.6208
Epoch 76/100
186/186 [==============================] - 1s 5ms/step - loss: 216387.4218 - r_2_Score: 0.5799 - val_loss: 195369.3906 - val_r_2_Score: 0.6215
Epoch 77/100
186/186 [==============================] - 1s 5ms/step - loss: 213131.5986 - r_2_Score: 0.5661 - val_loss: 191043.5156 - val_r_2_Score: 0.6379
Epoch 78/100
186/186 [==============================] - 1s 5ms/step - loss: 210612.5113 - r_2_Score: 0.5816 - val_loss: 188959.9688 - val_r_2_Score: 0.6442
Epoch 79/100
186/186 [==============================] - 1s 5ms/step - loss: 201760.6679 - r_2_Score: 0.5982 - val_loss: 192444.8594 - val_r_2_Score: 0.6293
Epoch 80/100
186/186 [==============================] - 1s 5ms/step - loss: 207358.3466 - r_2_Score: 0.5907 - val_loss: 189862.6406 - val_r_2_Score: 0.6455
Epoch 81/100
186/186 [==============================] - 1s 5ms/step - loss: 206749.9073 - r_2_Score: 0.5857 - val_loss: 192283.0156 - val_r_2_Score: 0.6418
Epoch 82/100
186/186 [==============================] - 1s 5ms/step - loss: 200366.3547 - r_2_Score: 0.6068 - val_loss: 190111.3594 - val_r_2_Score: 0.6557
Epoch 83/100
186/186 [==============================] - 1s 5ms/step - loss: 201427.6382 - r_2_Score: 0.5821 - val_loss: 191642.0938 - val_r_2_Score: 0.6502
Epoch 84/100
186/186 [==============================] - 1s 5ms/step - loss: 209218.1667 - r_2_Score: 0.6121 - val_loss: 185670.0938 - val_r_2_Score: 0.6703
Epoch 85/100
186/186 [==============================] - 1s 5ms/step - loss: 199354.4472 - r_2_Score: 0.5778 - val_loss: 174984.8281 - val_r_2_Score: 0.7127
Epoch 86/100
186/186 [==============================] - 1s 5ms/step - loss: 209519.4244 - r_2_Score: 0.6048 - val_loss: 182800.9375 - val_r_2_Score: 0.6933
Epoch 87/100
186/186 [==============================] - 1s 5ms/step - loss: 195517.3953 - r_2_Score: 0.6025 - val_loss: 179420.9688 - val_r_2_Score: 0.6991
Epoch 88/100
186/186 [==============================] - 1s 5ms/step - loss: 192844.7071 - r_2_Score: 0.5974 - val_loss: 175575.2969 - val_r_2_Score: 0.7157
Epoch 89/100
186/186 [==============================] - 1s 5ms/step - loss: 209866.9047 - r_2_Score: 0.6113 - val_loss: 174606.9688 - val_r_2_Score: 0.7240
Epoch 90/100
186/186 [==============================] - 1s 5ms/step - loss: 189270.3990 - r_2_Score: 0.6396 - val_loss: 177107.0781 - val_r_2_Score: 0.7089
Epoch 91/100
186/186 [==============================] - 1s 5ms/step - loss: 194543.0709 - r_2_Score: 0.5865 - val_loss: 183089.9375 - val_r_2_Score: 0.6958
Epoch 92/100
186/186 [==============================] - 1s 5ms/step - loss: 199780.2452 - r_2_Score: 0.5664 - val_loss: 167814.9375 - val_r_2_Score: 0.7377
Epoch 93/100
186/186 [==============================] - 1s 5ms/step - loss: 191325.4322 - r_2_Score: 0.6178 - val_loss: 178393.3125 - val_r_2_Score: 0.7041
Epoch 94/100
186/186 [==============================] - 1s 5ms/step - loss: 201546.6603 - r_2_Score: 0.5788 - val_loss: 168712.9844 - val_r_2_Score: 0.7378
Epoch 95/100
186/186 [==============================] - 1s 5ms/step - loss: 195138.7854 - r_2_Score: 0.5909 - val_loss: 164937.4375 - val_r_2_Score: 0.7535
Epoch 96/100
186/186 [==============================] - 1s 5ms/step - loss: 210815.4485 - r_2_Score: 0.5817 - val_loss: 161208.9062 - val_r_2_Score: 0.7618
Epoch 97/100
186/186 [==============================] - 1s 5ms/step - loss: 183301.9562 - r_2_Score: 0.5532 - val_loss: 164588.5469 - val_r_2_Score: 0.7540
Epoch 98/100
186/186 [==============================] - 1s 5ms/step - loss: 186649.4742 - r_2_Score: 0.6207 - val_loss: 187112.0781 - val_r_2_Score: 0.6922
Epoch 99/100
186/186 [==============================] - 1s 5ms/step - loss: 193341.0043 - r_2_Score: 0.5781 - val_loss: 168565.9375 - val_r_2_Score: 0.7443
Epoch 100/100
186/186 [==============================] - 1s 5ms/step - loss: 196330.1157 - r_2_Score: 0.5872 - val_loss: 165275.0625 - val_r_2_Score: 0.7581

## Question 6

### Evaluate the model
- Evaluate the model on test data
- Visualize the model's learning

In [209]:
#Model prediction
model.evaluate(x_test_Sc, y_test)

62/62 [==============================] - 0s 2ms/step - loss: 165275.0625 - r_2_Score: 0.7581

[165275.0625, 0.7581117749214172]

In [210]:
from sklearn.metrics import r2_score

In [211]:
y_pred = model.predict(x_test_Sc)
r2_score(y_test, y_pred)

0.7138905263050319

- Hint: The R2 score will get affected by batch size. 

**Batch Size**: Number of samples considered in one iteration

### Check the R2 score on complete test data

### Visualize model learning
- Visualize model learning using train and test r2 score
- Visualize model learning using train and test loss

##  Model tuning and Hyperparameter Tuning
## Question 7 (Optional)

### Create another Deep Neural Network Model for Regression to experiment with other hyper-parameters
- Initialize a Sequential model
- Add a batch normalization layer
- Add 3 hidden layer with activation leaky-relu (Number of neurons = 64,128,32 respectively)
- Add dropout layer after each hidden layer
- Add a Dense layer with one neuron as output, use activation linear

### Compile the model

- Compile the model
- Use "adam" optimizer 
- for calculating loss, use mean absolute error
- use R2 score (coefficient of determination) as the metric

### Train your model

- epochs: 1000
- batch size: 16
- Use test data as validation data
- Also add callback, such that if validation loss doesn't decreases consecutively 10 times, stop the training and return the weights for the previous best model
- Add checkpoints to save the model after every epoch

### Check the R2 score on complete test data

### Visualize model learning
- Visualize model learning using train and test r2 score
- Visualize model learning using train and test loss

### Create another Deep Neural Network Model for Regression to experiment with other hyper-parameters
- Initialize a Sequential model
- Add a batch normalization layer
- Intialize weights using HeUniform with seed = 7
- Add 4 hidden layer with activation relu (Number of neurons = 256,128,64,32 in each layer respectively)
- Add dropout layer after each hidden layer
- Add a Dense layer with one neuron as output, use activation linear

### Compile the model

- Compile the model
- Use "adam" optimizer with learning rate = 0.002
- for calculating loss, use mean squared error
- use R2 score (coefficient of determination) as the metric

### Train your model

- epochs: 1000
- batch size: 64
- Use test data as validation data
- Also add callback, such that if validation loss doesn't decreases consecutively 10 times, stop the training and return the weights for the previous best model

### Check the R2 score on complete test data

### Visualize model learning
- Visualize model learning using train and test r2 score
- Visualize model learning using train and test loss